<div id="graph-container"></div>
<section layout="row" layout-align="start end" flex>
    <div flex="10"></div>
    <div flex="20">
        Start Date

        <md-datepicker ng-model="startDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
    </div>
    <div flex="20">
        End Date
        <md-datepicker ng-model="endDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
    </div>
    <div flex="10">
        <button class="button" ng-click="SubmitDate()">Submit</button>
    </div>
    <div flex="20"></div>
    <div flex="10">

        <md-button class="md-primary md-raised" ng-click="showDialog($event)">
            Add Readings
        </md-button>

    </div>

</section>

<br><br><br><br>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
        <md-dialog layout-padding>
            <h3>add Readings</h3>

            <table>
                <tr>
                    <td>Sensor</td>

                    <td>Date</td>

                    <td>Value</td>
                </tr>

                <tr ng-repeat="input in modalAttributes">
                    <td>
                        <select id="sensor-{{input.id}}" ng-model="selection" ng-options="val.name for val in sensorlist"></select>
                    </td>

                    <td>
                        <input type="text" id="date-{{input.id}}" />
                    </td>

                    <td>
                        <input type="text" id="value-{{input.id}}" />
                    </td>
                </tr>
            </table>
            <button class="button add-reading-button" ng-click="addReading()">Add Reading</button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="SubmitModal()">Save</button>
        </md-dialog>
    </div>
</div>
