
<md-list-item class="secondary-button-padding">
    <p>Value</p>
    <md-input-container class="input-override">
        <input ng-model="sensorName" aria-label="sensorName" />
    </md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>Description</p>
    <md-input-container class="input-override">
        <input ng-model="sensorDescription" aria-label="sensorDescription" />
    </md-input-container>
</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>

        coefficients</p>
    <md-input-container class="input-override">
        <input ng-model="sensorCoefficients" aria-label="sensorCoefficients" />
    </md-input-container>

</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>Sensor Type</p>
    <md-input-container class="input-override">
        <input ng-model="sensorType" aria-label="sensorType" />
    </md-input-container>

</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>Units</p>

    <md-input-container class="input-override">

        <input ng-model="sensorUnits" aria-label="sensorUnits" />
    </md-input-container>

</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>Minimum</p>
    <md-input-container class="input-override">
        <input ng-model="sensorMinValue" aria-label="sensorMinValue" />
    </md-input-container>

</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>Maximum</p>
    <md-input-container class="input-override">
        <input ng-model="sensorMaxValue" aria-label="sensorMaxValue" />
    </md-input-container>

</md-list-item>

<md-list-item class="secondary-button-padding">
    <p>Station</p>
    <md-input-container class="input-override">
        <input ng-model="sensorStation" aria-label="sensorStation" />
    </md-input-container>
</md-list-item>

<md-button class="md-primary md-raised" ng-click="SaveSensor()">
    Submit Edits
</md-button>
