.submit-button {
  float: right;
}

.button {
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #337ab7;
  display: inline;
  line-height: 1.42857143;
  padding: 4px;
  position: relative;
  text-decoration: none;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}
