
<div class="modal" id="modal-background">
    <div class="modal-content" id="modal-content">
        <div class="modal-header">
            Dataset Upload
        </div>

        <div class="modal-body">
            <p class="dropzone" id="dropzone">Drag and drop files here</p>
            <input type="file" class="dropzone-input" />
        </div>

        <div class="modal-footer">
            <button type="button" id="close-modal-button">Cancel</button>
            <button type="button" id="modal-upload-button">Upload</button>
        </div>
    </div>
</div>
