.base {
  padding-left: 3%;
  padding-right: 3%;
}

.button {
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #337ab7;
  display: inline;
  line-height: 1.42857143;
  padding: 4px;
  position: relative;
  text-decoration: none;
}

.loginBtn {
  float: right;
  margin: 20px;
}
/*Table overriders*/
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.fish-cam {
  width: 25%;
}

input {
  width: 100%;
}

.footerDrawer {
  background-color: #eeeeee;
  bottom: 0;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.12), -1px 1px 3px rgba(0, 0, 0, 0.24);
  height: 30px;
  left: 0;
  position: fixed;
  text-align: center;
  transition: 0.5s ease;
  width: 100%;
}

.open-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  height: 30px;
  padding-top: 5px;
  width: 100%;
}

.footerDrawerOpen {
  height: 150px;
}

.bottom-bar-container {
  height: 30px;
  transition: 0.5s;
}

.bottom-bar-container-open {
  height: 150px;
}

.side-bar {
  height: 100%;
  left: -14%;
  padding: 10px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 14%;
}

.side-bar-open {
  left: 0;
}

.side-bar-button {
  border-left: black 1px;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  padding-left: 5px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 30px;
}

.side-bar-button-open {
  left: 14%;
}

.main-container {
  left: 0;
  padding-left: 30px;
  position: relative;
  transition: 0.5s;
  width: 100%;
}

.main-container-open {
  left: 14%;
  width: 86%;
}
