<div class="container-fluid base" ng-controller='baseController'>
    <div class="side-bar" id="side-bar">
        <div class="side-bar-button" id="side-bar-button">
            <span id="side-bar-button-icon" class="glyphicon glyphicon-chevron-right" style="top: 49%;" />
        </div>
        <div ng-repeat="graph in lightSwitchCharts">
            <h3>{{ graph.title }}</h3>
            <div style="width: 100px">
                <input type="checkbox" name="my-checkbox" id="{{graph.id}}" checked />
            </div>
        </div>
    </div>
    <div class="main-container" id="main-container">
        <div class="row">
            <div class="col-md-3">
                <h2>Dragonfly</h2>
            </div>
            <div class="col-md-6">
                <treecomponent></treecomponent>
            </div>
            <div class="col-md-3">
                <img class="fish-cam" ng-src="{{fishcam}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <graphcomponent></graphcomponent>
                </div>
                <div class="row" style="margin-top: 15px">
                    <sensorcomponent></sensorcomponent>
                </div>
            </div>
        </div>
        <div class="bottom-bar-container" id="bottom-bar-container">
            <gaugecomponent></gaugecomponent>

        </div>
    </div>
</div>
</div>
