$white: #fff;
$grey: #ddd;
$blue: #337ab7;
$darkgrey: #eee;
$black: #000;
$card-shadow-1: rgba(0, 0, 0, .12);
$card-shadow-2: rgba(0, 0, 0, .24);
$card-shadow-3: rgba(0, 0, 0, .24);

.base {
  padding-left: 3%;
  padding-right: 3%;
}

.button {
  background-color: $white;
  border: 1px solid $grey;
  border-radius: 4px;
  color: $blue;
  display: inline;
  line-height: 1.42857143;
  padding: 4px;
  position: relative;
  text-decoration: none;
}

.fish-cam {
  width: 25%;
}

input {
  width: 100%;
}

.footer-drawer {
  background-color: $darkgrey;
  bottom: 0;
  box-shadow: -1px -1px 3px card-shadow-1, -1px 1px 3px $card-shadow-2;
  height: 30px;
  left: 0;
  position: fixed;
  text-align: center;
  transition: .5s ease;
  width: 100%;
}

.open-button {
  box-shadow: 0 1px 3px $card-shadow-1, 0 1px 2px $card-shadow-1;
  height: 30px;
  padding-top: 5px;
  width: 100%;
}

.footer-drawer-open {
  height: 150px;
}

.bottom-bar-container {
  height: 30px;
  transition: .5s;
}

.bottom-bar-container-open {
  height: 150px;
}

.side-bar {
  height: 100%;
  left: -14%;
  padding: 10px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 14%;
}

.side-bar-open {
  left: 0;
}

.lightswitch-container {
  width: 100px;
}

.side-bar-button {
  border-left: $black 1px;
  box-shadow: 1px 0 3px $card-shadow-3;
  height: 100%;
  left: 0;
  padding-left: 5px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 30px;
}

.side-bar-button-icon {
  top: 49%;
}

.side-bar-button-open {
  left: 14%;
}

.main-container {
  left: 0;
  padding-left: 30px;
  position: relative;
  transition: .5s;
  width: 100%;
}

.main-container-open {
  left: 14%;
  width: 86%;
}

.sensor-container {
  margin-top: 15px;
}
