<div ng-controller="baseController" layout="column">
    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Controls</h1>
            </md-toolbar>
            <md-content layout-margin>
                <md-button ng-click="toggleLeft()" class="md-accent">
                    Close
                </md-button>
                <div ng-repeat="lightswitch in lightSwitchCharts">
                    <md-switch ng-model="lightswitch.value" aria-label="{{lightswitch.title}}">
                        {{ lightswitch.title }}
                    </md-switch>
                </div>
            </md-content>
        </md-sidenav>

        <md-content flex layout-padding>
            <md-button ng-click="toggleLeft()" class="md-raised">
                Toggle Sidenav
            </md-button>

            <md-button flex="50" class="md-primary md-raised" ng-click="showGridBottomSheet()">Show as Grid</md-button>
            <div ng-if="alert">
                <br/>
                <b layout="row" layout-align="center center" class="md-padding">
                  {{alert}}
                </b>
            </div>

        </md-content>
    </section>
</div>

<!--











    <div class="main-container" id="main-container">
        <div class="row">
            <div class="col-md-3">
                <h2>Dragonfly</h2>
            </div>
            <div class="col-md-6">
                <treecomponent />
            </div>
            <div class="col-md-3">
                <img class="fish-cam" alt="fish-pic" ng-src="{{fishcam}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <graphcomponent />
                </div>
                <div class="row sensor-container">
                    <sensorcomponent />
                </div>
            </div>
        </div>
        <div class="bottom-bar-container" id="bottom-bar-container">
            <div class="footer-drawer" id="footer-drawer">
                <div id="open-button" class="open-button glyphicon glyphicon-chevron-up">
                </div>
                <gaugecomponent />
            </div>
        </div>
    </div>
  </div> -->
