<div ng-controller="baseController" layout="column">
    <section layout="row" flex>
        <div flex="20">
            <h1 class="main-title">Dragonfly</h1>
        </div>
        <div flex="60">
            <treecomponent />
        </div>
        <div flex="20">
            <img class="fish-cam" alt="Latest fish picture" ng-src="{{fishcam}}" />
        </div>
    </section>

    <section layout="row" flex>
        <div flex="5"></div>
        <div flex="90">
            <graphcomponent />
        </div>
        <div flex="5"></div>
    </section>

    <md-divider class="margin-30"></md-divider>

    <section layout="row" layout-align="space-between center" flex>
        <div flex="0"></div>
        <div flex="10">
            <md-button ng-click="toggleLeft()" class="md-raised">
                Command
            </md-button>
        </div>

        <div flex="10">

            <md-button class="md-primary md-raised" ng-click="showGridBottomSheet()">View Gauges</md-button>
            <div ng-if="alert">
                <br/>
                <b layout="row" layout-align="center center" class="md-padding">
                  {{alert}}
                </b>
            </div>
        </div>

        <div flex="10">
            <md-button ng-click="toggleRight()" class="md-raised">
                Edit Sensor
            </md-button>
        </div>
        <div flex="0"></div>
    </section>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Controls</h1>
            <div class="right-button-container">
                <md-button ng-click="toggleLeft()" class="md-accent right-close-button">
                    <md-icon class="material-icons">arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content layout-margin>
            <div ng-repeat="lightswitch in lightSwitchCharts">
                <md-switch ng-model="lightswitch.value" aria-label="{{lightswitch.title}}">
                    {{ lightswitch.title }}
                </md-switch>
            </div>
        </md-content>
    </md-sidenav>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <div class="left-button-container">
                <md-button ng-click="toggleRight()" class="md-accent">
                    <md-icon class="material-icons">arrow_back</md-icon>
                </md-button>
            </div>
            <h1 class="left-panel-header md-toolbar-tools ">Add/Edit Sensor</h1>
        </md-toolbar>

        <md-content layout-margin>
            <sensorcomponent />
        </md-content>

    </md-sidenav>
</div>
