.button{
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #337ab7;
  display: inline;
  line-height: 1.42857143;
  padding: 4px;
  position: relative;
  text-decoration: none;
}

.loginBtn{
  float: right;
  margin: 20px;
}

/*Table overriders*/
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/*d3 node tree*/
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/*d3 graph*/
.ChartAxis-Shape{
  fill: none;
  shape-rendering: crispEdges;
  stroke: black;
  stroke-width: 1px;
}

.ChartTitle-Text{
  fill: #777;
  font-size: 160%;
  text-align: left;
}

.tick{
  opacity: 0.7;
  stroke: lightgrey;
}

.tick text{
  fill: black;
  shape-rendering: crispEdges;
  stroke: none;
}

.ChartAxis-Shape line{
  stroke-opacity:0.2;
}

.fish-cam {
  width: 25%;
}

input{
  width: 100%;
}




.footerDrawer {
  background-color: #eeeeee;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 15px;
  transition: 1s ease;
  text-align: center;
  box-shadow: -1px -1px 3px rgba(0,0,0,0.12), -1px 1px 3px rgba(0,0,0,0.24);
}

.open-button {
  width:100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
}

.footerDrawerOpen {
    height: 140px;
}



#power-gauge g.arc {
		fill: steelblue;
	}

	#power-gauge g.pointer {
		fill: #e85116;
		stroke: #b64011;
	}

	#power-gauge g.label text {
		text-anchor: middle;
		font-size: 14px;
		font-weight: bold;
		fill: #666;
	}
