<div ng-controller="mainController">
    <H2>Welcome to Dragonfly</H2>
    <div class="row">
        <div class="col-md-8">
           <div ng-repeat="graph in tempCharts">
                <div class="col-md-2">
                    <div google-chart chart=graph width:100%/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-2">
            <div ng-repeat="graph in lightSwitchCharts">
                <h3>{{ graph.title }}</h3>
                <input type="checkbox" name="my-checkbox" id={{graph.id}} checked>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-4">
            <!-- sensor select -->
            Sensors:
            <div style="width:100%;">
            <select size="10" ng-model="sensorSelect" ng-change="SelectSensor(sensorSelect)" name="ngvalueselect"  multiple>
                 <option ng-repeat="sensor in sensors" ng-value="sensor.index">{{sensor.name}}</option>
            </select>
            </div>
            <!-- add sensor button, remember we need to do something about the whitelist in cleanReadings -->
            <Button ng-click="AddSensor()">New Sensor</Button>
        </div>
        <div class="col-md-3">
            <!-- sensor edit (coefficents, units, etc) -->
        </div>
        <div class="col-md-3">
            <!-- add readingt -->
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <button type="button" id="detailsBtn" class="btn btn-info" ng-click="ShowDetails()">Show Details</button>
    </div>
    <br>
    <hr>
    <br>
    <div ng-if="showdetails">
        <div ng-repeat="graph in graphs">
            <div class="row">
                <div google-chart chart=graph  width:100%;/>
            </div>
        </div>
    </div>
</div>

