<div ng-controller="mainController">
    <H2>Welcome to Dragonfly</H2>
    <div class="row">
        <div class="col-md-8">
           <div ng-repeat="graph in tempCharts">
                <div class="col-md-2">
                    <div google-chart chart=graph width:100%/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div ng-repeat="graph in cleanCharts">
                {{graph.title}}
                <br>
                <canvas id={{graph.id}} style="position: absolute;"></canvas>
                <img src="static/images/beaker.jpg" style="width:100px">
                {{graph.reading}}
            </div>
        </div>
        <div class="col-md-3">
            <div ng-repeat="graph in lightSensorCharts">
                {{graph.title}}
                <br>
                <img src="static/images/lightbulb.png" style="width:100px">
                {{graph.reading}}
            </div>
        </div>
        <div class="col-md-3">

            <div ng-repeat="graph in lightSwitchCharts">
                <h3>{{ graph.title }}</h3>

                <input type="checkbox" name="my-checkbox" id={{graph.id}} checked>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    
    <button type="button" id="detailsBtn" class="btn btn-info" ng-click="ShowDetails()">Show Details</button>
   <br>
    <div ng-if="showdetails">
        <div ng-repeat="graph in graphs">
            <div google-chart chart=graph  width:100%;/>
        </div>
    </div>
</div>

