.titlebar-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  background: rgb(145, 255, 150);
  align-items: baseline;
  justify-content: space-between;

  button {
    border: none;
    margin: 8px;
    cursor: pointer;
  }

  button:nth-child(1) {
    margin-left: 24px;
    font-size: 1.6em;
    background: none;
  }

  button:nth-child(2) {
    margin-right: 24px;
    font-size: 1em;
    background: none;
  }
}
