<div ng-controller="graphController">
  <div id="graph-container"></div>
  <div class="row">
    <div class="col-md-3">
      Start Date
      <input type="text" style="width: auto;" id="start_date" />
    </div>
    <div class="col-md-3">
      End Date
      <input type="text" style="width: auto;" id="end_date" />
    </div>
    <div class="col-md-1">
      <button class="button" ng-click="SubmitDate()">Submit</button>
    </div>
    <div class="col-md-5">
      <button class="button" ng-click="OpenModal('log')" style="float: right">Add Log</button>
      <button class="button" ng-click="OpenModal('reading')" style="float: right">Add Reading</button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="sensorEditModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">{{modalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>
        <!-- Description -->
        <div class="modal-body">
          <div class="alert alert-danger" style="display: none;" id="modal_alert" />
          <div ng-repeat="input in modalAttributes">
            <div class="row">
              <div class="col-md-6">
                {{input.name}}
              </div>
              <div class="col-md-6">
                <div ng-if="input.type=='text'">
                  <input type="text" id="{{input.id}}" rows="3" value="{{input.value}}" />
                </div>
                <div ng-if="input.type=='multiple'">
                  <select class="form-control" id="{{input.id}}" ng-model="myVal" ng-options="val.name for val in input.value"></select>
                </div>
                <div ng-if="input.type=='date'">
                  <input type="text" id="{{input.id}}" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="SubmitModal()">{{saveText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
