<div ng-controller="sensorController">
    <div class="col-md-12">
        <div id="message" />
        <table class="table table-condensed table-bordered">
            <tr>
                <td>Name</td>
                <td>
                  <div ng-if=!edit>
                  {{sensorName}}
                </div>
                <div ng-if=edit>
                  <input type="text" ng-model="sensorName" value="{{sensorName}}" />
                </div>
                  <div style="float:right">
                    <input type="checkbox" name="movie" id="edit-button" ng-model=edit value=false>
                    <label for="edit-button" >
                      Create new sensor.
                    </label>
                  </div>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <input type="text" ng-model="sensorDescription" value="{{sensorDescription}}" />
                </td>
            </tr>
            <tr>
                <td>Coefficients</td>
                <td>
                    <input type="text" ng-model="sensorCoefficients" value="{{sensorCoefficeints}}" />
                </td>
            </tr>
            <tr>
                <td>Sensor Type</td>
                <td>
                    <input type="text" ng-model="sensorType" value="{{sensorType}}" />
                </td>
            </tr>
            <tr>
                <td>Units</td>
                <td>
                    <input type="text" ng-model="sensorUnits" value="{{sensorUnits}}" />
                </td>
            </tr>
            <tr>
                <td>Minimum value</td>
                <td>
                    <input type="text" ng-model="sensorMinValue" value="{{sensorMinValue}}" />
                </td>
            </tr>
            <tr>
                <td>Maximum value</td>
                <td>
                    <input type="text" ng-model="sensorMaxValue" value="{{sensorMaxValue}}" />
                </td>
            </tr>
            <tr>
                <td>Station</td>
                <td>
                    <input type="text" ng-model="sensorStation" value="{{sensorStation}}" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="button button-primary" ng-click="SaveSensor()" style="float: right">Submit Edits</button>
                </td>
            </tr>
        </table>
    </div>
</div>
