$node-fill: #fff;
$node-stroke: #4682b4;
$link-stroke: #ccc;

.node {
  cursor: pointer;

  circle {
    fill: $node-fill;
    stroke: $node-stroke;
    stroke-width: 1.5px;
  }

  text {
    font: 10px sans-serif;
  }
}

.link {
  fill: none;
  stroke: $link-stroke;
  stroke-width: 1.5px;
}
